@model IEnumerable<WebCapacitacionSacdeYluz.Data.Models.DwdTienda>

<link href="~/libs/select2/select2.min.css" rel="stylesheet" type="text/css" />
<link href="~/css/tables-btn/index.css" rel="stylesheet" type="text/css" />

<div class="container mt-4">
    <h2>Tiendas</h2>

    <button type="button" class="btn btn-success mb-3" id="buttonCreate-tienda">
        Crear Tienda
    </button>

    <table id="datatable-tienda" class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Provincia</th>
                <th>Direccion</th>
                <th>Stock</th>
                <th>Vendedores</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Nombre</td>
                    <td>@item.Provincia</td>
                    <td>@item.Direccion</td>
                    <td>
                        <button type="button"
                                class="btn btn-info btn-sm" 
                                onclick="verStock(@item.Id)">Stock
                        </button>
                    </td>
                    <td>
                        <button type="button"
                                class="btn btn-secondary btn-sm" 
                                onclick="verVendedores(@item.Id)">Ver
                        </button>
                    </td>
                    <td style="white-space: nowrap;">
                        <button type="button"
                                class="btn btn-danger btn-sm delete"
                                id="delete-@item.Id"
                                style="padding: 2px 6px;">
                            Eliminar
                        </button>
                        <button type="button"
                                class="btn btn-warning btn-sm edit"
                                id="edit-@item.Id"
                                style="padding: 2px 6px;">
                            Editar
                        </button>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Modal Crear/Editar -->
<form id="form-tienda">
    <div class="modal fade" id="modalScrollable-tienda" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalScrollableTitle-tienda"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <input type="hidden" readonly id="id-tienda" class="form-control mb-2" />

                    <div>
                        <label>Nombre</label>
                        <input id="tienda-nombre" type="text" class="form-control mb-2" placeholder="Nombre" />
                        <div id="tienda-nombre-obligatorio" class="text-danger" style="display: none">Campo Obligatorio</div>
                    </div>

                    <div>
                        <label>Direccion</label>
                        <input id="tienda-direccion" type="text" class="form-control mb-2" placeholder="Direccion" />
                        <div id="tienda-direccion-obligatorio" class="text-danger" style="display: none">Campo Obligatorio</div>
                    </div>

                    <div>
                        <label>Provincia</label>
                        <input id="tienda-provincia" type="text" class="form-control mb-2" placeholder="Provincia" />
                        <div id="tienda-provincia-obligatorio" class="text-danger" style="display: none">Campo Obligatorio</div>
                    </div>


                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" id="buttonSave-tienda" class="btn btn-primary">Guardar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</form>

<!-- Modal Stock -->
<div class="modal fade" id="modalStock-tienda" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Stock de la Tienda</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <table class="table table-striped" id="tabla-stock">
                    <thead>
                        <tr>
                            <th>IdCalzado</th>
                            <th>Talle</th>
                            <th>Modelo</th>
                            <th>Marca</th>
                            <th>Stock</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Se completará con JS -->
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Vendedores -->
<div class="modal fade" id="modalVendedores-tienda" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Vendedores de la Tienda</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <ul id="lista-vendedores" class="list-group">
                    <!-- Se completará con JS -->
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


@section scripts {

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css">

    <!-- JS DataTables -->
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>

    <!-- Si usás exportar a Excel/PDF -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Datatable init js -->
    <script src="~/js/pages/Tienda/datatables.init.js"></script>
    <script src="~/js/pages/Tienda/Index.js"></script>
    <script src="~/libs/select2/select2.min.js"></script>
}
